body {
    background-color: #F1F2F4;
    font-family: 'Roboto', sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.left {
    float: left;
}
.right {
    float: right;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

#header {
    padding: 10px 0px;
    background-color: #fff;
    margin-bottom: 15px;
}

#header .logo {
    width: 10%;
    padding-top: 5px;
}
#header .search {
    width: 50%;
    margin-left: 25px;
}
#header .user-links {
    width: 35%;
    padding-top: 10px;
}

#header .search input[type="text"] {
    width: 90%;
    height: 40px;
    background-color: #F0F5FF;
    border: none;
    border-radius: 10px;
    padding: 0px 15px;
    font-size: 20px;
}
#header .search button {
    font-size: 20px;
    background-color: transparent;
    border: none;
}

#header .user-links ul li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 16px;
}

#header .user-links ul li a {
    color: #000;
}

/* Navigation CSS */
#main-nav {
    background-color: #fff;
}
#main-nav ul li {
    display: inline-block;
    width: 9%;
    text-align: center;
}
#main-nav ul li span {
    display: block;
}
#main-nav ul li a {
    color: #000;
    display: block;
    padding: 5px;
}